.main-display
  padding-top: 5.5rem
  &__top
    display: flex
    align-items: center
  &__logo
    display: flex
    align-items: center
    margin-right: 57.2rem
    &-img
      width: 10rem
      height: 6rem
      margin-right: 1.1rem
    &-text
      font-style: italic
      font-weight: 900
      font-size: 3.6rem
      line-height: 117%
      color: #000000
  &__item
    font-style: normal
    font-weight: 300
    font-size: 1.8rem
    line-height: 117%
    text-align: center
    color: #737373
  &__nav
    display: flex
    justify-content: space-between
  &__item:not(:last-child)
    margin-right: 2.7rem