@media (max-width: 1300px)
  .container  
    max-width: 100rem
  .main
    &-display
      &__logo
        margin-right: 0
  .about
    &__main
      gap: 0rem 5.5%
@media (max-width: 1200px)
  .modal
    &__inner
      width: 90%

@media (max-width: 1100px)
  .container
    max-width: 90%
  .footer
    &__wrapper
      padding: 10% 10% 
@media (max-width: 900px)
  .header
    &__text
    &__telephone
      align-items: start
      &-text
        display: flex
        align-items: start
        flex-direction: column
      &-1
        margin-right: 0
        margin-bottom: 4%
  .footer
    &__wrapper
      padding: 10% 5%
  .modal
    &__input
      &-group
        flex-basis: 100%
        width: 100%
        &-wrapper
          flex-direction: column
          width: 90%
    &__message
      width: 90%
    &__inner
      &-elements
        

@media (max-width: 768px)
  .container
    max-width: 85%
  .main
    &-display
      &__nav
        display: none
  .header
    padding-top: 2.4rem
    padding-bottom: 2.9rem
    &__text
      font-size: 1.2rem
    &__telephone
      &-img
        width: 1rem
        height: 1rem
        margin-right: 0.5em
    &__maps
      margin-left: -15%
      &-img
        width: 1rem
        height: 1.7rem
    &__inst
      margin-right: -7%
      &-img
        width: 2.3rem
        height: 2.3rem
  .main
    &-display
      padding-top: 6.5rem
      &__wrap
        margin-left: 1.3%
      &__top
        
      &__logo
        &-img
          margin-right: 9%
      &__title
        font-size: 4rem
        line-height: 100%
      &__button
        font-size: 1.5rem
        padding: 1.2rem 3rem
      &__center
        margin-top: -11%
      &__right
        margin-right: -6%
  .about
    padding-top: 10%
    &__container
      max-width: 78%
    &__title
      font-size: 4rem
      margin-bottom: 12%
    &__main
      grid-template-columns: repeat(1,100%)
    &__item
      &:nth-last-child(n+2)
        margin-bottom: 12%
      &-img
        height: 16.4rem
      &-description
        padding: 3% 12% 3% 7%
      &-title
        margin-bottom: 1rem
  .review
    &__slider
    &__wrapper
      padding-left: 15%
    &__slide
      width: 70%
      &-img
        width: 9.5rem
        height: 11rem
      &-photo
        width: 9.0rem
        height: 10.8rem
  .footer
    &__wrapper
      padding: 15% 0
    &__inst
      margin-left: -4%
  .modal
    &__input
      &-group
        &-wrapper
          width: 75%
    &__message
      width: 75%
@media (max-width: 650px)
  .modal
    &__input
      &-group
        &-wrapper
          width: 50%
    &__message
      width: 50%
  .main
    &-display
      padding-top: 3.5rem
      &__logo
        &-img
          width: 7rem
          height: 4rem
        &-text
          font-size: 2.6rem
      &__title 
        font-size: 3rem
      &__suptitle
        font-size: 2rem
      &__center
        margin-top: -8%
      &__button
        font-size: 1.2rem
        padding: 1rem 2.2rem
  .about
    padding-top: 3%
    &__title
      font-size: 3rem
      margin-bottom: 10%
  .review
    &__slide
      &-text 
        font-size: 1.5rem
  .footer
    &__list
      &-contact 
        line-height: 1.5rem

@media (max-width: 600px)
  .header
    &__maps
      margin-left: -4%
      &-img
        margin-right: 0.5rem
    &__inst
      &-img
        margin-right: 0.5rem
@media (max-width: 470px)
  .header
    padding-bottom: 2.5rem
    &__inst, &__telephone-img, &__maps-img
      display: none
    &__wrapper
      flex-direction: column
    &__telephone
      margin-bottom: 6%
    &__maps
      text-align: center
    &__text
      font-size: 1.4rem
      &-map
        font-size: 1.7rem
        font-weight: 300
  .main
    &-display
      padding-top: 2.5rem
      &__wrap
        margin-left: 0
      &__top
        justify-content: center
      &__logo
        margin-right: 14%
        &-img
          width: 6rem
          height: 3.5rem
          margin-right: 8%
        &-text
          font-size: 1.8rem
      &__center
        flex-direction: column
        margin-top: 0
      &__left
        width: 100%
        padding-top: 14%
      &__title
        font-size: 2.5rem
        text-align: center
        margin-bottom: 1rem
      &__suptitle
        font-size: 2rem
        text-align: center
        margin-bottom: 1rem
      &__button
        font-size: 1rem
        text-align: center
        padding: 0.6rem 2.1rem
        margin: 0 auto
        display: block
      &__right
        display: none
  .about
    padding-top: 16%
    &__title
      font-size: 2rem
      margin-bottom: 22%
    &__item
      &-img
        height: 15.4rem
      &-title
        font-size: 3rem
      &-description
        padding: 5% 12% 3% 7%
  .footer
    &__wrapper
      justify-content: center
      flex-direction: column
      align-items: center
    &__inst
      margin-left: 0
      margin-bottom: 5%
      &-img
        text-align: center
        margin: 0 auto
        display: block
    &__contact
      order: -1
      margin-bottom: 5%
    &__header
      text-align: center
    &__list
      text-align: center
    &::before
      left: -1%
    &::after
      right: 14%
  .review
    &__slide 
      &-text
        font-size: 1.2rem
      &-img
        height: 10.5rem
      &-photo
        height: 10.6rem
  .modal
    &-header
      font-size: 1.5rem
    &__input
      font-size: 1rem
      &-group
        &-wrapper
          width: 35%
    &__policy
      margin-bottom: 1.5rem
    &__message
      width: 35%
    &__button
      font-size: 0.9rem
      padding: 0.8rem 1.9rem
  .check
    font-size: 1rem

    
    




  
